body {
  padding:0px;
  margin:0px;
}

.container {
  width: 800px;
  height: 800px;
  margin: auto;
  margin-top:50px;
}

.row {
  padding:0px;
  margin: 0px;
  height: 100px;
}

.cell {
  display: inline-block;
  height: 100px;
  width: 100px;
}

.white {
  background: #E5DFD4;
}

.black {
  background: black;
}

.piece {
 width: 75%;
 height: 75%;
 margin:auto;
 margin-top:12.5%;
 border-radius: 50%;
}

.piece-blue {
 background: #3295E6 ;
}

.piece-red {
 background: #D92626 ;
}
